# Replit-specific files
.replit
.env
replit.nix
.cache
.breakpoints
.upm
.pythonlibs

# Python-specific files
__pycache__/
*.py[cod]
*.pyc

# IDE-specific files
.idea/
.vscode/

# Miscellaneous
.DS_Store
*.log
